
body {
	background-image: url("../image/snsd.jpg");
	background-repeat:no-repeat;
	background-size: 100% auto;
	}
}

.tutorial2 {

    width: auto;
    height: auto;
}

/*for div*/
#tutorial2 {
  position: fixed;
  top: 0;
  left: 0;

  /* Preserve aspet ratio */
  min-width: 100%;
  min-height: 100%;
}



